body {
    display: flex;
    min-height: 100vh;
    background-color: #f8f9fa; /* Màu nền xám nhạt */
}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #212529; /* Màu nền tối hơn */
    color: #adb5bd; /* Màu chữ nhạt hơn */
    min-height: 100vh;
    transition: all 0.3s;
}

    .sidebar .nav-link {
        color: #adb5bd;
        padding: 0.75rem 1rem;
        border-radius: .25rem;
        transition: all 0.2s ease-in-out;
    }

        .sidebar .nav-link i {
            width: 20px; /* Căn chỉnh icon */
            text-align: center;
        }


        /* TRẠNG THÁI ACTIVE VÀ HOVER */
        .sidebar .nav-link:hover {
            background-color: #343a40;
            color: #fff;
        }

        .sidebar .nav-link.active {
            background-color: #0d6efd; /* Màu xanh primary của Bootstrap */
            color: #fff;
            font-weight: bold;
        }

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}
