html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.tag-badge {
    transition: transform 0.2s ease-in-out; /* Tạo hiệu ứng chuyển động mượt */
    display: inline-block; /* Cần thiết cho transform hoạt động đúng */
}

    .tag-badge:hover {
        transform: translateY(-2px); /* Di chuyển nhẹ lên trên 2px khi hover */
        /* Hoặc thử hiệu ứng phóng to nhẹ: */
        /* transform: scale(1.05); */
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Thêm đổ bóng nhẹ (tùy chọn) */
    }
.dropdown-menu {
    max-height: 300px; /* Chiều cao tối đa trước khi thanh cuộn xuất hiện (điều chỉnh nếu cần) */
    overflow-y: auto; /* Hiển thị thanh cuộn dọc khi nội dung vượt quá max-height */
}